<button mat-mini-fab [matMenuTriggerFor]="pipes"> <mat-icon>menu</mat-icon> </button>

<mat-menu #pipes="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="pipesAngular">Pipes de Angular</button>
  <button mat-menu-item [matMenuTriggerFor]="pipesPersonalizados">Pipes personalizados</button>
</mat-menu>

<mat-menu #pipesAngular="matMenu">
  <button mat-menu-item routerLink=""> Textos y Flechas </button>
  <button mat-menu-item routerLink="numbers"> Números </button>
  <button mat-menu-item routerLink="uncommon"> No comunes </button>
</mat-menu>

<mat-menu #pipesPersonalizados="matMenu">
  <button mat-menu-item routerLink="custom" > Custom Pipes </button>
</mat-menu>
